<head>
  <title>weekly-food-list</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
    rel="stylesheet"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
    rel="stylesheet"
  />
</head>

<body>
  <div id="app"></div>
</body>
