<template>
  <div class="home-wrapper">

    <challenge v-for="challenge in allChallenges" :key="challenge._id" :id="challenge._id" userid="1"/>
  </div>
</template>

<script>
import { SportChallenges } from "../../api/sport-challenge/collections.js";
import Challenge from '../components/Challenge.vue';

export default {
  name: "Home",
  components: {
    Challenge
  },
  data() {
    return {};
  },
  computed: {
  },
  methods: {
  },
  meteor: {
    $subscribe: {
      challenges: [],
    },
    allChallenges() {
      return SportChallenges.find({}).fetch() || [];
    },
  },
};
</script>

<style lang="scss" scoped>
.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
