<template>

  <v-card elevation="5" class="challenge-card" hover>
    <div class="challenge-wrapper">
      <div class="background">
        <v-img class="image" v-if="challenge" :src="getImageUrl"></v-img>
        <div class="overlay"></div>
      </div>

      <div class="content">
        <h2 class="title"> {{ capitalize(challenge.type) }} Challenge</h2>
        
        <p v-if="remainingCountForUser <= 0 && remainingUsers.length >= 1">Your are done, {{remainingUsers.length}} of your friends remaining. Send a reminder <v-icon>mdi-email</v-icon></p>
        <p v-else-if="remainingCountForUser <= 0 && remainingUsers.length === 0">All done: tweet about it<v-icon>mdi-share-variant</v-icon></p>
        <p v-else-if="remainingUsers.length === 1 && userCount > 0">You are the last to finish, hurry up </p>
        <p v-else>Come on lets do the challenge</p>
      </div>

      <div class="actions">
        <p class="count">
          {{ remainingCountForUser > 0 ? remainingCountForUser : 'Done'}}
        </p>
        <div class="buttons">
          <v-btn class="add-one" color="primary" @click="addCount(1)">+</v-btn>
          <v-btn class="add-multiple" @click="addCount(10)">+10</v-btn>
          <v-btn class="add-multiple" @click="addCount(20)">+20</v-btn>
        </div>
      </div>
    </div>
  </v-card>

</template>

<script>
import { Meteor } from "meteor/meteor";
import { SportChallenges } from "../../api/sport-challenge/collections.js";

export default {
  name: "challenge-component",
  components: {},
  data() {
    return {
    };
  },
  props: {
    id: String,
    userid: String
  },
  computed: {
    getImageUrl: function() {
      if (this.challenge.type === 'pushups') {
        return `assets/pushup.jpg`;
      }
      if (this.challenge.type === 'situps') {
        return `assets/situp.jpg`;
      }
      return '';
    },
    remainingUsers: function () {
      if (!this.challenge) {
        return [];
      }

      const remaining = this.challenge.userCounts.filter(usercount => usercount.count < this.challenge.count);
      console.log('Remaining', remaining);
      return remaining;
    },
    userCount: function() {
      const userCount = this.challenge.userCounts.find(user => user.userId = this.userid);
      return userCount ? userCount.count : 0;
    },
    remainingCountForUser: function() {
      console.log(this.challenge);
      if (!this.challenge) {
        return 0;
      }
      
      console.log('Count', this.challenge.count - this.userCount );
      return this.challenge.count - this.userCount;
    }
  },
  methods: {
    addCount: function(count) {
      //TODO: Meteor push
      Meteor.call("challenge.updateUserCount", { challengeid: this.id, userid: this.userid, count });
    },
    capitalize: function(s) {
      if (typeof s !== 'string') return ''
      return s.charAt(0).toUpperCase() + s.slice(1)
    }
  },
  meteor: {
    $subscribe: {
      challenges: [],
    },
    challenge() {
      return SportChallenges.findOne(
        { _id: { $eq: this.id } }
      );
    },
  },
};
</script>

<style lang="scss" scoped>

.challenge-card {
    margin: 30px;
    padding: 30px;
    overflow: hidden;
    position: relative;
    min-width: 800px;

    .title{
      margin: 10px 0px;
      padding: 10px 0px;
    }

    .background {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100%;
      width: 70%;

      .image {
        width: 100%;
        height: 100%;
      }

      .overlay {
        background-color: rgba(black, .5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .actions {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 30%;

      .count {
        color: black;
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: bold;
        font-size: 64pt;
      }

      .buttons {
        display: flex;
        flex-direction: column;
        
        height: 50%;
        padding: 0px 20px;
      }

      button {
        margin-bottom: 10px;
      }

      .add-one {
        flex: 3;
      }
      .add-multiple {
        flex: 2;
      }
    }
}

.content {
  z-index: 100;
  position: relative;
  width: 70%;
}

.challenge-wrapper {
    margin: 10px;
    padding: 10px;

    h2 {
      font-size: 3em !important;
    }

    p, h2, .v-icon {
      color: white;
    }

    
}

</style>
