<template>
  <v-app>
    <v-spacer></v-spacer>
    <v-app-bar 
      absolute
      color="blue" 
      dark
      shrink-on-scroll
      scroll-target="#scrolling-techniques-2"
      src="assets/bar.jpg"
      app
      >
      <v-toolbar-title class="white--text">Sports with Me</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-main class="my-4">
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import { Meteor } from "meteor/meteor";

export default {
  data() {
    return {};
  },
  computed: {
  },
  methods: {
  },
  meteor: {
    isLoggedIn() {
      return !!Meteor.user();
    },
  },
};
</script>

<style lang="scss">
@import "./styles/main.scss";

*,
body {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1 {
  color: #adaaa8;
}
</style>
