// @import '~vuetify/src/styles/generic/_index.scss';

.centered-input input {
  text-align: center;
}

.no-bottom-line .v-input__slot:before {
  content: unset !important;
}

.w-100 {
  width: 100%;
}
